body {
  padding: 0;
  margin: 0;
}

#slidecontainer{
  width: 100%
}

#map {
  width: 1400px;
  height: 500px;
  padding: 20px;
}


body,
html {
  height: 100%;
}

.legend{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

img {
  border-radius: 8px;
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
